@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-primary-200: hsl(148, 38%, 91%);
  --color-primary-500: hsl(186, 15%, 59%);
  --color-primary-600: hsl(169, 82%, 27%);
  --color-primary-900: hsl(187, 24%, 22%);
  --color-button-focus: hsl(171 82.6% 13.5%);

  --color-secondary: hsl(0, 66%, 54%);

  --font-karla: "Karla", serif;
}
